/* css for main.html */


:root{
    --main-color:#007E6E;
    --black:#13131a;
    --bg:#FFFFFF;
    --border:.1rem solid #00CEB3;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-family:Trebuchet MS;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #007E6E;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#00CEB3;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#FFFFFF;
    background: #00CEB3;
    cursor: pointer;
}
.btn:hover{
     background: #007E6E;
     color: #FFFFFF;
}


.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 2rem;
    color:#007E6E;
    padding:12px;
    overflow: auto;
    opacity: ;
}

.header .navbar a:hover{
    color:black;
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#007E6E;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:black;
}

#menu-btn{
    display: none;
}

.home {
    min-height: 70vh;
    display: flex;
    align-items: center;
    position: relative;
}

.slider-container {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.9s ease-in-out;
}

.slide {
    min-width: 100%;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.left-arrow,
.right-arrow {
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
}


.about .row{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border:var(--border);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
    opacity: 1.0;
}
.about .row .image img:hover{
    width: 100%;
    opacity: 0.5;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 4rem;
    color:black;
}

.about .row .content p{
    font-size: 1.8rem;
    color:var(--main-color);
    padding:1rem 0;
    line-height: 1.8;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    text-align: center;
}

.menu .box-container .box img {
    height: 25rem;
    transition: transform 0.3s;
}

.menu .box-container .box:hover img {
    transform: scale(1.1); 
}

.menu .box-container .box h3 {
    color: #00ceb3;
    font-size: 2rem;
    padding: 2rem 0;
    margin: 0; 
}

.menu .box-container .box .price {
    color: #007e6e;
    font-size: 2rem;
    padding: 0.5rem 1;
}

.menu .box-container .box .price span {
    font-size: 1.2rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box .button {
    background-color: #007e6e;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact .row{
    display: flex;
    background:#F3EBE4;
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#007E6E;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:black;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:black;
    text-transform: none;
    background:none;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;

}

.blogs .box-container .box{
    border:var(--border);    
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    opacity: 0.6;
}
.blogs .box-container .box .image img:hover{
    height: 100%;
    object-fit: cover;
    width: 100%;
    opacity: 1.0;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:black;
}

.blogs .box-container .box .content .title:hover{
    color:var(--main-color);
}

.blogs .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:black;
    padding:1rem 0;
}

.footer {
    background: #F3EBE4;
    text-align: center;
    position: relative; 
    padding-bottom: 2rem; 
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #007E6E;
    border: var(--border);
    margin: 0.3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background: #007E6E;
    color: #F3EBE4;
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: 0.7rem 2rem;
    color: #007E6E;
    border: var(--border);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer .links a:hover {
    background: #007E6E;
    color: #F3EBE4;
}

.footer .credit {
    background: #007E6E;
    font-size: 1.5rem;
    color: #F3EBE4; 
    font-weight: lighter;
    padding: 1rem;
    margin-top: 7rem;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
}

.footer .credit span {
    color: #F3EBE4;
}



/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #F3EBE4;
        opacity: 0.7;
        width: 20rem;
        height: calc(55vh - 9.5rem);
        text-align: center;
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:#007E6E;
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 80%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;

    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}